ion-header.header {
  background: #ecb5bf;
}

ion-toolbar.toolbar {
  --background: #ecb5bf;
  font-family: "Times New Roman";
  text-align: center;
  font-size: 35px;
}

ion-button.exitButton {
  --background: #ecb5bf;
  height: 40px;
  position: relative;
  left: 165px;
}

ion-button.backButton {
  --background: #ecb5bf;
}


ion-button.addButton {
  --background: #ecb5bf;


}

ion-button.editButton {
  --background: #ecb5bf;

}
