<ion-header class="header">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon class="icon_back" name="arrow-round-back" style="color: #1e2023"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <ion-toolbar class="toolbar"> EEUU HOSPITAL</ion-toolbar>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="icon_exit" name="exit" style="color: #1e2023"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<div class="content_avatar">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="./src/assets/icon/fotoperfil.jpg">
    </ion-avatar>
    <ion-label>
      <h3 style="color:black;"> EDISON SANANGO </h3>
      <p style="color:black;"> Administrator </p>
      <p style="color:black;"> 1728 </p>
    </ion-label>
    <ion-button class="editButton" style="color: black; ">
      <ion-icon name="create"> </ion-icon>
    </ion-button>
  </ion-item>
</div>

<ion-label text-center> ADD PATIENT</ion-label>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none" text-justify>
          <ion-label >Patient <br>
            Identificaction:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="text"
                     name="id"
                     placeholder="Ej: 1781818193">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label> Patient
            Name:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="text"
                     name="id"
                     placeholder="Ej: Edison Ubaldo">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label>Patient <br>
            Lastname:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="text"
                     name="id"
                     placeholder="Ej: Sanango Simbaña">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label>Patient <br>
            Birthdate:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-datetime placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Allergies</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Medical Record</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button class="addButton" expand="full" style="color: black; ">ADD </ion-button>

</ion-content>



