<div class="ui-fluid">

  <h1 style="text-align: center; color: hotpink "> ADD PATIENT </h1>
  <form #patientForm="ngForm" >
    <div class="ui-g-12 ui-md-3"></div>

    <div class="ui-g-12 ui-md-6">

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Patient's Identification:
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" name="identification" pattern="([0-9])+" [(ngModel)]="patient.userIdentificator" #identificationInput="ngModel" required />
        </div>
      </div>

      <div *ngIf="identificationInput.touched && identificationInput.dirty">
        <p *ngIf="identificationInput.errors?.required " style="color: red">
          This field is required.
        </p>

        <p *ngIf="identificationInput.errors?.pattern" style="color: red">
          Numeric Field.
        </p>
      </div>


      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Patient's Names:
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" name="names" pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1]{1}[a-zA-ZÀ-ÿ\u00f1\u00d1\s]*"  [(ngModel)]="patient.userName" #namesInput="ngModel" required  />
        </div>
      </div>

      <div *ngIf="namesInput.touched && namesInput.dirty">
        <p *ngIf="namesInput.errors?.required " style="color: red">
          This field is required.
        </p>

        <p *ngIf="namesInput.errors?.pattern" style="color: red">
          Letters Field.
        </p>
      </div>


      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Patient's Lastnames:
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" name="lastnames" pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1]{1}[a-zA-ZÀ-ÿ\u00f1\u00d1\s]*"  [(ngModel)]="patient.userLastname" #lastnamesInput="ngModel" required  />
        </div>
      </div>

      <div *ngIf="lastnamesInput.touched && lastnamesInput.dirty">
        <p *ngIf="lastnamesInput.errors?.required " style="color: red">
          This field is required.
        </p>

        <p *ngIf="lastnamesInput.errors?.pattern" style="color: red">
          Letters Field.
        </p>
      </div>


      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Patient's Birthdate:
        </div>
        <div class="ui-g-8">
          <p-calendar name="birthdate" [(ngModel)]="patient.userBirthdate" #birthdateInput="ngModel" required ></p-calendar>
        </div>
      </div>

      <div *ngIf="birthdateInput.touched && birthdateInput.dirty">
        <p *ngIf="birthdateInput.errors?.required " style="color: red">
          This field is required.
        </p>

      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Phone:
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" name="phone" pattern="([0-9])+" [(ngModel)]="patient.userPhone" #phoneInput="ngModel" required />
        </div>
      </div>

      <div *ngIf="phoneInput.touched && phoneInput.dirty">
        <p *ngIf="phoneInput.errors?.required " style="color: red">
          This field is required.
        </p>

        <p *ngIf="phoneInput.errors?.pattern" style="color: red">
          Numeric Field.
        </p>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          E-mail:
        </div>
        <div class="ui-g-8">
          <input pInputText type="email"  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email" [(ngModel)]="patient.userEmail" #emailInput="ngModel" required />
        </div>
      </div>

      <div *ngIf="emailInput.touched && emailInput.dirty">
        <p *ngIf="emailInput.errors?.required " style="color: red">
          This field is required.
        </p>

        <p *ngIf="emailInput.errors?.pattern" style="color: red">
          Email Invalid.
        </p>



      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4">
          Medical Record:
        </div>
        <div class="ui-g-8">
          <textarea pInputTextarea type="text" name="record" [(ngModel)]="medicalHistory.record"  #recordInput="ngModel" ></textarea>
        </div>
      </div>

      <div *ngIf="recordInput.touched && recordInput.dirty">
        <p *ngIf="recordInput.errors?.required " style="color: red">
          This field is required.
        </p>

      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12">
          <button pButton name="addButton" label="ADD" type="button" style="background-color: hotpink" [disabled]="!patientForm.valid" (click)="addPatient()" > </button>
        </div>
      </div>

      <p-toast key="myKey1" position="bottom-left"  ></p-toast>

    </div>

    <div class="ui-g-12 ui-md-3"></div>
  </form>
</div>

