ion-header.header {
  background: #ecb5bf;
}

ion-toolbar.toolbar {
  --background: #ecb5bf;
  font-family: "Times New Roman";
  text-align: center;
  font-size: 30px;
}

ion-icon.icon_exit {
  font-size: 32px;
  position: relative;
  top: 11px;
  left: 10px
}

ion-button.editButton {
  --background: #ecb5bf;

}




