<ion-header>
  <ion-toolbar class="toolbar"> EEUU HOSPITAL
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-img src="assets/hospital.jpg" alt="hospital">
  </ion-img>

  <ion-grid>
    <ion-row justify-content-start>
      <ion-col size="2">

      </ion-col>

      <ion-col size="8">
        <ion-row justify-content-start>
          <ion-col size="3">
            <ion-icon name="person" class="icon_user"></ion-icon>
          </ion-col>

          <ion-col size="9">
            <ion-item>
              <ion-label position="floating" style="color:#ecb5bf;">User</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-start>
          <ion-col size="3">
            <ion-icon name="key" class="icon_pswd"></ion-icon>
          </ion-col>

          <ion-col size="9">
            <ion-item>
              <ion-label position="floating" style="color:#ecb5bf;">Password</ion-label>
              <ion-input type="password" maxlength="15" minlength="8"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-start class="row_3">
          <ion-col size="2">

          </ion-col>

          <ion-col size="8">
            <ion-button class="button_signin" expand="full" href="/principal">Sign in</ion-button>
          </ion-col>
          <ion-col size="2">

          </ion-col>
        </ion-row>

        <ion-row justify-content-start >


          <ion-col size="3">
            <ion-icon name="logo-facebook" class="icon_fb"></ion-icon>
          </ion-col>

          <ion-col size="3">
            <ion-icon name="logo-twitter" class="icon_tw"></ion-icon>
          </ion-col>

          <ion-col size="3">
            <ion-icon name="logo-linkedin" class="icon_in"></ion-icon>
          </ion-col>

          <ion-col size="3" >
            <ion-icon name="logo-youtube" class="icon_yt" ></ion-icon>
          </ion-col>

        </ion-row>

        <ion-row justify-content-start>
          <ion-col size="12" text-center style="color:#ecb5bf; font-size: 20px;">
            2020 EUSS HOSPITAL
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="2">

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
