<ion-header class="header">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button class="backButton" (click)="goSearchMedicalCheck()">
          <ion-icon class="icon_back" name="arrow-round-back" style="color: #1e2023" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-toolbar class="toolbar"> EEUU HOSPITAL</ion-toolbar>
      </ion-col>
      <ion-col size="2">
        <ion-button class="exitButton" >
          <ion-icon class="icon_exit" name="exit" style="color: #1e2023"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<div class="content_avatar">
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets/cerveza.jpg">
    </ion-avatar>
    <ion-label>
      <h3 style="color:black;"> EDISON SANANGO </h3>
      <p style="color:black;"> Administrator </p>
      <p style="color:black;"> 1728 </p>
    </ion-label>
    <ion-button class="editButton" style="color: black; ">
      <ion-icon name="create"> </ion-icon>
    </ion-button>
  </ion-item>
</div>
<br>
<ion-label text-center> UPDATE MEDICAL CHECK</ion-label>

<ion-content>
  <form (ngSubmit)="medicalCheck(mCheckForm)" #mCheckForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none" text-justify>
            <ion-label> Code:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-item>
            <ion-input type="text"
                       name="code"
                       required
                       pattern="([0-9])+"
                       placeholder="Ej: 14512"
                       [(ngModel)]="check.code"
                       #codeInput="ngModel">
            </ion-input>
          </ion-item>
          <div *ngIf="codeInput.touched && codeInput.dirty">
            <p *ngIf="codeInput.errors?.required " style="color: red">
              This field is required.
            </p>

            <p *ngIf="codeInput.errors?.pattern" style="color: red">
              Only-numbers Field.
            </p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none" text-justify>
            <ion-label> Patient Identification:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-item>
            <ion-input type="text"
                       name="id"
                       pattern="([0-9])+"
                       required
                       [(ngModel)]="check.patientIdentification"
                       placeholder="Ej: 1781818193"
                       #identificationInput="ngModel">
            </ion-input>
          </ion-item>
          <div *ngIf="identificationInput.touched && identificationInput.dirty">
            <p *ngIf="identificationInput.errors?.required " style="color: red">
              This field is required.
            </p>

            <p *ngIf="identificationInput.errors?.pattern" style="color: red">
              Only-numbers Field.
            </p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none">
            <ion-label> Admit date:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-item>
            <ion-datetime type="date"
                          name="admit"
                          required
                          [(ngModel)]="check.admit"
                          #admitInput="ngModel">
            </ion-datetime>
          </ion-item>
          <div *ngIf="admitInput.touched && admitInput.dirty">
            <p *ngIf="admitInput.errors?.required " style="color: red">
              This field is required.
            </p>

          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none">
            <ion-label> Discharge date:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-item>
            <ion-datetime type="date"
                          name="discharge"
                          required
                          [(ngModel)]="check.discharge"
                          #dischargeInput="ngModel">
            </ion-datetime>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none">
            <ion-label> Blood pressure:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-label>
            <script language="JavaScript">
              const SerialPort = require('serialport');
              let a = 0;
              const mySerial = new SerialPort('COM4', {baudRate: 115200});
              let pulso = 0;

              mySerial.on('open', function () {
                console.log('Opened Serial Port');
              });

              mySerial.on('data', function (data) {
                pulso = Number(data.toString());

                console.log(pulso);
              });

              mySerial.on('err', function (err) {
                console.log(err.message);
              });

              console.log(a);

            </script>
          </ion-label>
          <ion-button class="blood">

          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <ion-item lines="none">
            <ion-label> Weight:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7.5">
          <ion-item>
            <ion-input type="number"
                       name="weight"
                       pattern="([0-9])+"
                       placeholder="Ej: 130"
                       required
                       [(ngModel)]="check.weightP"
                       #weightPInput="ngModel">
            </ion-input>
          </ion-item>
          <div *ngIf="weightPInput.touched && weightPInput.dirty">
            <p *ngIf="weightPInput.errors?.required " style="color: red">
              This field is required.
            </p>

          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Diagnosis</ion-label>
            <ion-textarea type="text"
                          name="diagnosis"
                          maxlength="1000"
                          [(ngModel)]="check.diagnosis"
                          #diagnosisInput="ngModel">

            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-button class="addButton"
                expand="full"
                style="color: black;"
                [disabled]="!mCheckForm.valid" (click)="updateConfirm()">ADD
    </ion-button>
  </form>
</ion-content>

<!--<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none" text-justify>
          <ion-label> Code:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="number"
                     name="code"
                     placeholder="Ej: 14513" >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none" text-justify>
          <ion-label> Patient Identification:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="number"
                     name="code"
                     placeholder="Ej: 1727161612" >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label> Admit date:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-datetime placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label> Discharge date:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-datetime placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label> Blood pressure:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="number"
                     name="blood"
                     placeholder="Ej: 79">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4.5">
        <ion-item lines="none">
          <ion-label> Weight:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7.5">
        <ion-item>
          <ion-input type="number"
                     name="weight"
                     placeholder="Ej: 130">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Diagnosis</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button class="addButton" expand="full" style="color: black; ">UPDATE</ion-button>

</ion-content>-->



